<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{% block title %}NOT IMPLEMENTED YET{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
    <header>
        <nav class="navbar" id="navbar">
            <div class="navbar-spacer"></div>
            <a href="{{ url_for('search') }}" class="nav-link {% if active == 'first' %}active{% endif %}">Search</a>
            <a href="{{ url_for('my_movies') }}" class="nav-link {% if active == 'my_movies' %}active{% endif %}">Saved Movies</a>
            <a href="{{ url_for('watched') }}" class="nav-link {% if active == 'watched' %}active{% endif %}">Watched</a>
            <div class="navbar-spacer"></div>

            {% if session.username %}
            <span>Welcome, {{ session.username }}!</span>
                <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="nav-link">Login</a>
            {% endif %}
            <img src="{{ url_for('static', filename='images/Default-Avatar.png') }}" alt="Profile Pic" style="height:50px;width:50px;border-radius:50%;">
        </nav>
    </header>

    <main>
        {% block body %}
        <!-- Child templates insert their content here -->
        {% endblock %}
    </main>

    <!-- Put any global JS scripts under here -->
</body>
</html>