{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}
<!-- store following data in SQL: id (We should use this per username to store movies), adult?, backdrop_path, poster_path, genre_ids (list of genres), original_language, title, overview, release_date, vote_average (rating), vote_count (number of ratings), popularity? -->
{% block body %}    
<h1>{{ movie.title }}</h1>
<p><strong>id:</strong> {{ movie.id }}</p>
<p><strong>Adult:</strong> {{ movie.adult }}</p>
<img src="https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}" alt="n/a" class="image-modal">
<p><strong>Genres:</strong> {{ movie.genre_names | join(", ") }}</p>
<p><strong>Language:</strong> {{ movie.original_language }}</p>
<p><strong>Summary:</strong> {{ movie.overview }}</p>
<p><strong>Release Date:</strong> {{ movie.release_date }}</p>
<p><strong>Rating:</strong> {{ movie.vote_average }}</p>
<p><strong>Number of Ratings:</strong> {{ movie.vote_count }}</p>
<p><strong>Popularity:</strong> {{ movie.popularity }}</p>
{% endblock %}