{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}
<!-- store following data in SQL: id (We should use this per username to store movies), adult?, backdrop_path, poster_path, genre_ids (list of genres), original_language, title, overview, release_date, vote_average (rating), vote_count (number of ratings), popularity? -->
{% block body %}    
<h1>{{ movie.title }}</h1>
<p><strong>id:</strong> {{ movie.id }}</p>
<p><strong>Backdrop Path:</strong> {{ movie.backdrop_path }}</p>
<p><strong>Poster Path:</strong> {{ movie.poster_path }}</p>
<p><strong>Genres:</strong> {{ movie.genre_names | join(", ") }}</p>
<p><strong>Language:</strong> {{ movie.original_language }}</p>
<p><strong>Title:</strong> {{ movie.title }}</p>
<p><strong>Summary:</strong> {{ movie.overview }}</p>
<p><strong>Release Date:</strong> {{ movie.release_date }}</p>
<p><strong>Rating:</strong> {{ movie.vote_average }}</p>
<p><strong>Number of Ratings:</strong> {{ movie.vote_count }}</p>
<p><strong>Popularity:</strong> {{ movie.popularity }}</p>

<h3>Rate this movie</h3>
<form action="{{ url_for('rate_movie', movie_id=movie.id) }}" method="post">
    <input type="hidden" name="title" value="{{ movie.title }}">
    <label for="rating">Rating (1-10):</label>
    <input type="number" step="any" id="rating" name="rating" min="1" max="10" required>
    <button type="submit">Add to Watched List</button>
</form>
{% endblock %}