{% extends 'base.html' %}

{% block title %}Search{% endblock %}
{% set active = 'search' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<form method="GET" action="/" class = "search-form">
  <input type="text" name="query" placeholder="Search for a movie..." value="{{ query or '' }}" class = "search-bar">
  <button type="submit" class="search-button">Search</button>
  
  {% if query %}
    <button  class="clear-button" type="button" onclick="window.location.href='{{ url_for('search') }}'">Clear</button>
  {% endif %}
</form>
<h2>{% if query %}Search Results for "{{ query }}"{% else %}Popular Movies{% endif %}</h2>
<div class="movie-list">
  {% for movie in movies %}
  <div class="individual-cards" onclick="window.location.href='{{ url_for('movie_detail', movie_id=movie.id) }}'">
    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Movie poster" class="image">
    <p style="margin-bottom: -10px;">{{ movie.title }}</p>
    <p class="rating">&#11088; {{ movie.vote_average }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}